.exportDialog {
  position: absolute;
  top: 60px;
  left: 60px;
  background-color: #1f221f;
  width: 950px;
  height: 600px;
  border-radius: 12px;
  margin-bottom: 12px;
  margin-top: 12px;
  margin-right: 12px;
  padding: 5px;
  border: 1px solid whitesmoke;
}

.exportTypeSelect {
  width: 120px;
}
