.card {
  padding: 2em;
  border: 1px solid white;
}

.Palette {
  display: 'flex';
  border: 1px solid rgb(80, 78, 78);
  width: 156px;
  margin: 10px;
  margin-top: 10px;
  border-radius: 12px;
  padding: 5px;
}

.Palettes {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: #87bede;
  width: 370px;
  border-radius: 12px;
}

.SelectedPalette {
  display: flex;
  flex-direction: row;
  background-color: #87bede;
  width: 360px;
  border-radius: 12px;
  margin-bottom: 12px;
  padding: 5px;
}

.CharacterSelection {
  padding: 5px;
}

.EditorPanel {
  display: flex;
  flex-direction: row;
  background-color: #87bede;
  border-radius: 12px;
  margin-bottom: 12px;
  padding: 12px;
  width: fit-content;
}