:root {
  --background: #1f221f;
  --border: 1px solid rgb(80, 78, 78);
}

.card {
  padding: 2em;
  border: 1px solid white;
}

.mainLayout {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: 5px;
}

.maincolumn1 {
  display: flex;
  flex-direction: row;
  background-color: var(--background);
  width: 120px;
  border-radius: 12px;
  margin-bottom: 12px;
  margin-top: 12px;
  margin-right: 12px;
  padding: 5px;
  border: var(--border);
}

.maincolumn2 {
  margin: 5px;
  margin-top: 22px;
}

.maincolumn3 {
  margin: 5px;
  width: fit-content;
}

.actionButton {
  width: 120px;
  border-radius: 6px;
  padding: 12px;
  background-color: rgb(34, 34, 34);
}
